In [1]:
import geopandas as gpd
import psycopg2
import pandas as pd
import pyproj
from shapely.geometry import Point

from persiantools.jdatetime import JalaliDate
import datetime

In [2]:
# connect to my db

conn_shp = psycopg2.connect(
    host="localhost",
    database="iran_shp",
    user="postgres",
    password="xcxck"
)

conn_well = psycopg2.connect(
    host="localhost",
    database="grace",
    user="postgres",
    password="xcxck"
    
)

# conn_well.set_client_encoding('WIN1256')

In [3]:
# #open points and polygons

# province_query = "SELECT * FROM province"

# province_shape = gpd.read_postgis(province_query, conn_shp, geom_col='geom')

In [4]:
cur = conn_well.cursor()
cur.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'")
rows = cur.fetchall()
province_list = [row[0] for row in rows[3:]]

In [5]:
province_list

['alborz_39',
 'fars_40',
 'ilam_38',
 'qom_39',
 'zanjan_39',
 'kohkiluyeh_and_buyer_ahmad_39',
 'ardabil_38',
 'gilan_39',
 'kurdistan_38',
 'ardabil_39',
 'golestan_39',
 'kerman_40',
 'tehran_39',
 'razavi_khorasan_40',
 'kermanshah_38',
 'kurdistan_39',
 'golestan_40',
 'west_azerbaijan_38',
 'kermanshah_39',
 'lorestan_38',
 'east_azerbaijan_38',
 'razavi_khorasan_41',
 'hamadan_39',
 'hamadan_38',
 'lorestan_39',
 'semnan_39',
 'south_khorasan_40',
 'bushehr_39',
 'hormozgan_39',
 'markazi_39',
 'semnan_40',
 'south_khorasan_41',
 'hormozgan_40',
 'sistan_and_baluchistan_40',
 'chahar_mahaal_and_bakhtiari_39',
 'north_khorasan_40',
 'esfahan_39',
 'khuzestan_38',
 'mazandaran_39',
 'sistan_and_baluchistan_41',
 'esfahan_40',
 'khuzestan_39',
 'qazvin_39',
 'yazd_39',
 'fars_39',
 'yazd_40']

In [6]:
province_dic = {}

for province in province_list:
    well_query = "SELECT * FROM {}".format(province)
    province_dic[province] = gpd.read_postgis(well_query, conn_well, geom_col='geom')

/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(
/home/aydin/miniconda3/envs/grace/lib/python3.9/site-packages/geopandas/io/sql.py:158: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

In [ ]:
# conn_shp.close()
# conn_well.close()

In [7]:
znj_df = province_dic['zanjan_39']

In [ ]:
# loop to reterive name and df

In [8]:


class IdGenerator:
    def __init__(self, name, data_frame):
        self.name = name
        self.data_frame = data_frame
        

    def abb_db(self):
        
        full_name = self.name[:-3]
        utm_zone = self.name[-2:]

        cur = conn_well.cursor()
        query = "SELECT abbreviation FROM output.provinces WHERE table_name = %s"
        cur.execute(query, (full_name, ))
        row = cur.fetchone()
        if row is None:
            raise ValueError(f"No abbreviation found for table name {full_name}")
        global well_id_head
        well_id_head = str(row[0]) + '-' + str(utm_zone)
        return well_id_head
    
    def unique_digits(self, factorize_column):
        tmp_list = pd.factorize(self.data_frame[factorize_column])[0] + 1
        tmp_list = [f'{x:03}' for x in tmp_list]
        self.data_frame['well_id'] = tmp_list
        well_id = well_id_head + '-' + self.data_frame['well_id'].astype(str)
        self.data_frame['well_id'] = well_id
        return self.data_frame

In [9]:
province_abb = IdGenerator('zanjan_39', znj_df)


# a = province_abb.abb_db()

# province_abb.unique_digits('mahal')

In [10]:

a = province_abb.abb_db()

province_abb.unique_digits('mahal')

,id,geom,sazeman,ostan,sal1,mah,rooz,code,mahdoodeh,sath-ab,utmx,utmy,mahal,ellat-adam,molahezat,taraz,well_id
0,1,POINT (311441.000 4028492.000),15 زنجان,21 زنجان,1385,7,24,4107,ابهر,38.91,311441,4028492,حسين آباد 3,NULL,NULL,1811.77,ZAN-39-001
1,2,POINT (311441.000 4028492.000),15 زنجان,21 زنجان,1385,8,22,4107,ابهر,38.9,311441,4028492,حسين آباد 3,NULL,NULL,1811.77,ZAN-39-001
2,3,POINT (311441.000 4028492.000),15 زنجان,21 زنجان,1385,9,27,4107,ابهر,NULL,311441,4028492,حسين آباد 3,5 راه مسدود ميباشد,NULL,1811.77,ZAN-39-001
3,4,POINT (311441.000 4028492.000),15 زنجان,21 زنجان,1385,10,28,4107,ابهر,NULL,311441,4028492,حسين آباد 3,5 راه مسدود ميباشد,NULL,1811.77,ZAN-39-001
4,5,POINT (311441.000 4028492.000),15 زنجان,21 زنجان,1385,11,25,4107,ابهر,38.76,311441,4028492,حسين آباد 3,NULL,NULL,1811.77,ZAN-39-001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40401,40149,POINT (308068.000 4028321.000),15 زنجان,21 زنجان,1387,10,29,4107,ابهر,64.35,308068,4028321,اراضي وير,NULL,NULL,1839.75,ZAN-39-218
40402,40302,POINT (308068.000 4028321.000),15 زنجان,21 زنجان,1396,7,29,4107,ابهر,77.34,308068,4028321,اراضي وير,NULL,NULL,1839.75,ZAN-39-218
40403,40305,POINT (308068.000 4028321.000),15 زنجان,21 زنجان,1396,10,29,4107,ابهر,75.74,308068,4028321,اراضي وير,NULL,NULL,1839.75,ZAN-39-218
40404,40317,POINT (308068.000 4028321.000),15 زنجان,21 زنجان,1397,10,29,4107,ابهر,77.02,308068,4028321,اراضي وير,NULL,NULL,1839.75,ZAN-39-218
40405,40372,POINT (311441.000 4028492.000),15 زنجان,21 زنجان,1383,11,29,4107,ابهر,NULL,311441,4028492,حسين آباد 3,5 راه مسدود ميباشد,NULL,1811.77,ZAN-39-001

In [11]:
b_df = province_abb.unique_digits('mahal')

In [12]:
b_df

,id,geom,sazeman,ostan,sal1,mah,rooz,code,mahdoodeh,sath-ab,utmx,utmy,mahal,ellat-adam,molahezat,taraz,well_id
0,1,POINT (311441.000 4028492.000),15 زنجان,21 زنجان,1385,7,24,4107,ابهر,38.91,311441,4028492,حسين آباد 3,NULL,NULL,1811.77,ZAN-39-001
1,2,POINT (311441.000 4028492.000),15 زنجان,21 زنجان,1385,8,22,4107,ابهر,38.9,311441,4028492,حسين آباد 3,NULL,NULL,1811.77,ZAN-39-001
2,3,POINT (311441.000 4028492.000),15 زنجان,21 زنجان,1385,9,27,4107,ابهر,NULL,311441,4028492,حسين آباد 3,5 راه مسدود ميباشد,NULL,1811.77,ZAN-39-001
3,4,POINT (311441.000 4028492.000),15 زنجان,21 زنجان,1385,10,28,4107,ابهر,NULL,311441,4028492,حسين آباد 3,5 راه مسدود ميباشد,NULL,1811.77,ZAN-39-001
4,5,POINT (311441.000 4028492.000),15 زنجان,21 زنجان,1385,11,25,4107,ابهر,38.76,311441,4028492,حسين آباد 3,NULL,NULL,1811.77,ZAN-39-001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40401,40149,POINT (308068.000 4028321.000),15 زنجان,21 زنجان,1387,10,29,4107,ابهر,64.35,308068,4028321,اراضي وير,NULL,NULL,1839.75,ZAN-39-218
40402,40302,POINT (308068.000 4028321.000),15 زنجان,21 زنجان,1396,7,29,4107,ابهر,77.34,308068,4028321,اراضي وير,NULL,NULL,1839.75,ZAN-39-218
40403,40305,POINT (308068.000 4028321.000),15 زنجان,21 زنجان,1396,10,29,4107,ابهر,75.74,308068,4028321,اراضي وير,NULL,NULL,1839.75,ZAN-39-218
40404,40317,POINT (308068.000 4028321.000),15 زنجان,21 زنجان,1397,10,29,4107,ابهر,77.02,308068,4028321,اراضي وير,NULL,NULL,1839.75,ZAN-39-218
40405,40372,POINT (311441.000 4028492.000),15 زنجان,21 زنجان,1383,11,29,4107,ابهر,NULL,311441,4028492,حسين آباد 3,5 راه مسدود ميباشد,NULL,1811.77,ZAN-39-001

In [13]:
def jalali_to_gregorian(year, month, day):
    j_date = JalaliDate(year, month, day).to_gregorian()
    g_year = j_date.year
    g_month = j_date.month
    g_day = j_date.day
    return pd.Timestamp(year=g_year, month=g_month, day=g_day).date()

In [34]:
# ign_list = [
#     'geom',
#     'sazeman',
#     'ostan',
#     'sal1',
#     'mah',
#     'rooz',
#     'code',
#     'mahdoodeh',
#     'mahal',
#     'ellat-adam',
#     'molahezat'
#     ]


# new_col_list = ['well_id', 'utmx', 'utmy','taraz', 'sath-ab', 'date']



# class df_Trimmer():
#     def __init__(self, data_frame, ign_list = ign_list, new_col_list = new_col_list):
#         self.data_frame = data_frame
#         self.ign_list = ign_list
#         self.new_col_list = new_col_list

#     def date_conv(self, new_date_column, year_column, month_column, day_column):
#         self.data_frame[new_date_column] = self.data_frame.apply(lambda row: jalali_to_gregorian(row[year_column], row[month_column], row[day_column]), axis=1)
#         return self.data_frame

#     def trimmer(self):
#         self.data_frame = self.data_frame.drop(columns=self.ign_list)
#         self.data_frame = self.data_frame.reindex(columns=self.new_col_list)
#         self.data_frame = self.data_frame.groupby('well_id').agg({'utmx': 'first', 'utmy': 'first'}).reset_index()
#         return self.data_frame

In [80]:
ign_list = [
    'geom',
    'sazeman',
    'ostan',
    'sal1',
    'mah',
    'rooz',
    'code',
    'mahdoodeh',
    'mahal',
    'ellat-adam',
    'molahezat'
    ]


new_col_list = ['well_id', 'utmx', 'utmy','taraz', 'sath-ab', 'date']



class df_Trimmer():
    def __init__(self, data_frame, ign_list = ign_list, new_col_list = new_col_list):
        self.data_frame = data_frame
        self.ign_list = ign_list
        self.new_col_list = new_col_list

    def date_conv(self, new_date_column, year_column, month_column, day_column):
        self.data_frame[new_date_column] = self.data_frame.apply(lambda row: jalali_to_gregorian(row[year_column], row[month_column], row[day_column]), axis=1)
        self.data_frame = self.data_frame.drop(columns=self.ign_list)
        self.data_frame = self.data_frame.reindex(columns=self.new_col_list)
        df_loc = self.data_frame.groupby('well_id').agg({'utmx': 'first', 'utmy': 'first'}).reset_index()
        return self.data_frame, df_loc

    # def trimmer(self):
    #     self.data_frame = self.data_frame.drop(columns=self.ign_list)
    #     self.data_frame = self.data_frame.reindex(columns=self.new_col_list)
    #     self.data_frame = self.data_frame.groupby('well_id').agg({'utmx': 'first', 'utmy': 'first'}).reset_index()
    #     return self.data_frame

In [81]:
c = df_Trimmer(b_df)

In [82]:
df, loc_df = c.date_conv('date' ,'sal1', 'mah', 'rooz')

In [88]:
# make a class to reproject projections

class Projection:
    def __init__(self, data_frame, utm_zone):
        self.utm_zone = utm_zone
        self.data_frame = data_frame

    def reproj(self):
        utm_proj = pyproj.Proj(proj='utm', zone=self.utm_zone, ellps='WGS84')
        wgs84_proj = pyproj.Proj(proj='latlong', datum='WGS84')

        for idx, row in self.data_frame.iterrows():
            utm_point = Point(row['utmx'], row['utmy'])
            lon, lat = pyproj.transform(utm_proj, wgs84_proj, utm_point.x, utm_point.y)
            wgs84_point = Point(lon, lat)
            self.data_frame.loc[idx, 'ESPG:4326'] = wgs84_point
        
        return self.data_frame

In [89]:
proj_zanjan_39 = Projection(loc_df, 39)

In [90]:
c_df = proj_zanjan_39.reproj()

/tmp/ipykernel_17033/2201036682.py:14: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  lon, lat = pyproj.transform(utm_proj, wgs84_proj, utm_point.x, utm_point.y)
/tmp/ipykernel_17033/2201036682.py:14: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  lon, lat = pyproj.transform(utm_proj, wgs84_proj, utm_point.x, utm_point.y)

          well_id    utmx     utmy    taraz sath-ab        date
0      ZAN-39-001  311441  4028492  1811.77   38.91  2006-10-16
1      ZAN-39-001  311441  4028492  1811.77    38.9  2006-11-13
2      ZAN-39-001  311441  4028492  1811.77    NULL  2006-12-18
3      ZAN-39-001  311441  4028492  1811.77    NULL  2007-01-18
4      ZAN-39-001  311441  4028492  1811.77   38.76  2007-02-14
...           ...     ...      ...      ...     ...         ...
40401  ZAN-39-218  308068  4028321  1839.75   64.35  2009-01-18
40402  ZAN-39-218  308068  4028321  1839.75   77.34  2017-10-21
40403  ZAN-39-218  308068  4028321  1839.75   75.74  2018-01-19
40404  ZAN-39-218  308068  4028321  1839.75   77.02  2019-01-19
40405  ZAN-39-001  311441  4028492  1811.77    NULL  2005-02-17

[40406 rows x 6 columns]

In [92]:
c_df

        well_id    utmx     utmy                                    ESPG:4326
0    ZAN-39-001  311441  4028492  POINT (48.89779287918984 36.38308517291151)
1    ZAN-39-002  313243  4026091  POINT (48.91844761903651 36.36180537686603)
2    ZAN-39-003  311716  4030905  POINT (48.90027207110466 36.40487847427534)
3    ZAN-39-004  315733  4034365  POINT (48.94422115375362 36.43683041024731)
4    ZAN-39-005  317935  4026830  POINT (48.97054065161969 36.36936306139969)
..          ...     ...      ...                                          ...
224  ZAN-39-225  288958  3951370  POINT (48.66789552817545 35.68367099282808)
225  ZAN-39-226  289552  3957484  POINT (48.67285316801589 35.73887850885251)
226  ZAN-39-227  286910  3949162  POINT (48.64586579251753 35.66333913898438)
227  ZAN-39-228  287402  3958607  POINT (48.64879855306279 35.74853319490315)
228  ZAN-39-229  298482  3946891  POINT (48.77418786039063 35.64530927167305)

[229 rows x 4 columns]

TypeError: 'method' object is not subscriptable